* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 71, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.card {
    width: 40vw;
    height: 90vh;
    background-color: rgb(181, 212, 255);
    border-radius: 70px;
    box-shadow: 0px 0px 20px rgb(189, 212, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card h1 {
    margin: 20px 0;
    color: rgb(18, 14, 14);
    font-size: 2.2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}

.card img {
    width: 20vw;
    height: 50vh;
    border-radius: 30px;
    object-fit: cover;
    margin: 20px 0;
    box-shadow: 0px 0px 5px  rgba(41, 71, 113, 0.734);
}

.card h3 {
    color: rgb(18, 14, 14);
    font-size: 1.5rem;
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card p {
    color: rgb(18, 14, 14);
    font-size: 1.1rem;
    margin-top: 5px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}